@if (data(); as weather) {
  <button matIconButton aria-label="Add or remove this city to your favorites" (click)="clickedFavorite.emit({lat: weather.lat, lon: weather.lon})">
    <mat-icon>{{ isFavorite() ? 'favorite' : 'favorite_border'}}</mat-icon>
  </button>
  <div class="flex flex-col justify-center items-center">
    @if(weather.icon) {
      <img [src]="'https://openweathermap.org/img/wn/' + weather.icon + '@2x.png'" alt="Weather icon" class="mx-auto"/>
    }
    <h3 class="text-lg m-0 font-medium">{{ weather.cityName}} - {{ today() | date:'dd MMM yyyy':'':'en' }}</h3>
    <p class="mt-0 capitalize">{{ weather.description }}</p>
    <p class="text-6xl m-0">{{ weather.temp | number: '1.0-0' }}°C</p>
    <p >Humidity: {{ weather.humidity }}%</p>
  </div>
} @else {
  <div class="flex flex-col justify-center items-center h-full">
    <p>Find a city to see weather details</p>
  </div>
}
